@import 'reset';
@import 'colores';
@import 'fuentes';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.navbar {
    background-color: $rojo;
    .nav-link
    {
        color: $blanco;
        font-weight: 500;
        margin-right: 60px;     
    }
   
}

